font-family: 'Open Sans', sans-serif;
}
.kepala {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

legend {
  color: red;
}

select:hover {
  background-color: lightgreen;
}

option:hover {
  background-color: lightgreen;
}

input:hover {
  background-color: lightgreen;
}

textarea:hover {
  background-color: lightgreen;
}

.rule {
  margin: 0px 0px 0px 1rem;
  font-size: 25px;
  color: red;
}

.image-headers {
  width: 100%;
  height: auto;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-headers img {
  width: 100%;
  height: auto;
}

.rules {
  padding-bottom: 1rem;
  color: red;
  margin: auto;
}

button a {
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}